{% extends 'resumeapp/Base.html' %}
{% load staticfiles %}
{% block content %}
{% load static%}
<!-- Header
================================================== -->
<header class="dashboard-header">
<div class="container">
	<div class="sixteen columns">
		<!-- Logo -->
		<div id="logo">
			<h1><a href={% url 'resumeapp:Homepage' %}"><img src="{% static 'resumeapp/images/logo.png' %}" alt="Work Scout"/></a></h1>
		</div>

	</div>
</div>
</header>
<div class="clearfix"></div>


<!-- Titlebar
================================================== -->

<!-- Dashboard -->
<div id="dashboard">


	<!-- Content
	================================================== -->
	<div class="dashboard-content">
		<!-- Titlebar -->
		<div class="row">
			<!-- Table-->
			<div class="col-lg-12 col-md-12">

				<div class="dashboard-list-box margin-top-0">
					<h4>Please Review Details Before Submitting</h4>
	<form action="{% url 'resumeapp:Update' %}" method="post" onsubmit="return Change();" >
		<!--input type='hidden' name="id" value="{{ resume.id }}" /--> {% csrf_token %}
	<div class="dashboard-list-box-content">

		<div class="submit-page">

			<!-- Email -->
			<div class="form">
				<h5>First Name:</h5>
				<input class="search-field" type="text" id="fName"  name="fName" value="{{ resume.first_name }}" required />
			</div>
			<div class="form">
				<h5>Last Name:</h5>
				<input class="search-field" type="text" id="lName" name="lName" value="{{ resume.last_name }}" required />
			</div>

			<!-- Email -->
			<div class="form">
				<h5>Contact Details:</h5>
				<input class="search-field" type="text" name="cDetail" id="cDetail"  value="{{ resume.phone_number }}" required />
			</div>
			<!-- Email -->
			<div class="form">
				<h5>Email ID:</h5>
				<input class="search-field" type="text"  name="email" id="email"  value="{{ resume.email_address }}" required  />
			</div>
			<!-- Title -->
			<div class="form">
				<h5>Education:</h5>
				<input class="search-field" type="text" name="edu" id="edu" value="{{ resume.education }}"   />
			</div>

			<!-- Location -->
			<div class="form">
				<h5>Work Experience:</h5>
				<input class="search-field" type="text" name="exp" id="exp" value="{{ resume.workexperience }}"  />
			</div>
			<!-- Location -->
			<div class="form">
				<h5>Visa Status:</h5>
				<select id="vStatus" style="width:145px" name="vStatus">
					<option value="H1 B" {% if resume.visaStatus ==  "H1 B" %} selected="true" {% endif %}>H1 B</option>
					<option value="H4" {% if resume.visaStatus == "H4" %} selected="true" {% endif %}>H4</option>
					<option value="H4 EAD" {% if resume.visaStatus == "H4 EAD" %} selected="true" {% endif %}>H4 EAD</option>
					<option value="B1" {% if resume.visaStatus == "B1" %} selected="true" {% endif %}>B1</option>
					<option value="L1" {% if resume.visaStatus == "L1" %} selected="true" {% endif %}>L1</option>
					<option value="L2" {% if resume.visaStatus == "L2" %} selected="true" {% endif %}>L2</option>
					<option value="F1" {% if resume.visaStatus == "F1" %} selected="true" {% endif %}>F1</option>
				</select>
			</div>
<div class="form"> </div>

			<!-- Description -->
			<div class="form" style="width: 100%;">
				<h5>Technologies:</h5>
				<input type="text"  name="skills" id="skills" value="{{ resume.technical_skillset }}" style="height:100px"/>
			</div>

			<div class="form" style="width: 100%;">
				<button class="w3-btn w3-blue" onclick="return jsvalidate();"><i>Submit</i></button>
				<button type="button" class="w3-btn w3-blue" onclick="goBack();"><i>Back to HomePage</i></button>
			</div>
		</div>

	</div>

</form>
				</div>

			    </div>



		</div>

	</div>
	<!-- Content / End -->


</div>
<!-- Dashboard / End -->
<script>
function jsvalidate() {

var Lname = document.getElementById("lName").value;
var Fname = document.getElementById("fName").value;
var Email = document.getElementById("email").value;
var Phone = document.getElementById("cDetail").value;

if ( ( typeof(Lname) == "undefined" || ( ! Lname )) )
{
    alert( "Please enter a valid Last Name " );
    return false;
}
if ( ( typeof(Fname) == "undefined" || ( ! Fname )) )
{
    alert( "Please enter a valid First Name " );
    return false;
}
if ( ( typeof(Email) == "undefined" || ( ! Email ))  || !( validateEmail(Email)) )
{
    alert( "Please enter a valid Email " );
    return false;
}
if ( ( typeof(Phone) == "undefined" || ( !Phone )) )
{
    alert( "Please enter a valid Phone No. " );
    return false;
}

return true;
}
</script>

{% endblock %}


