{% load static%}
{% load staticfiles%}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>Work Scout</title>
<!---------------------------Favicon-------------------------->

<link rel="apple-touch-icon" sizes="72x72" href="{% static 'resumeapp/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href= "{% static 'resumeapp/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href= "{% static 'resumeapp/favicon/favicon-16x16.png' %}">
<link rel="manifest" href= "{% static 'resumeapp/favicon/site.webmanifest' %}"  >
<link rel="mask-icon" href= "{% static 'resumeapp/favicon/safari-pinned-tab.svg' %}"  color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!---------------------------Favicon-------------------------->

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'resumeapp/css/style.css' %}">
<link rel="stylesheet" href="{% static 'resumeapp/css/colors.css' %} ">

<style>
.bgimg{

    background-image: url( "{% static 'resumeapp/images/banner-home-02.jpg' %}");
}
</style>

</head>

<body>
<div id="wrapper">


<!-- Header
================================================== -->
{% block content %}

{% endblock %}
<!-- Footer
================================================== -->
<div class="margin-top-15"></div>

<div id="footer">
	<!-- Main -->


	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<h4>Follow Us</h4>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="copyrights">©  Copyright 2018 by <a href="#">Work Scout</a>. All Rights Reserved.</div>
			</div>
		</div>
	</div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->


<script type="text/javascript">
	let JUpFileName = document.getElementById("UpFileName")
	let Jfilename = document.getElementById("filename")
	Jfilename.addEventListener("change", function (event) {

		let selfile = event.target.files[0].name

		JUpFileName.textContent = selfile

	})
	document.getElementById("myForm").addEventListener("reset", function (event) {

		JUpFileName.textContent = "No file selected"

	})

	function Checkfiles() {

		var fup = document.getElementById('filename');
		var fileName = fup.value;
		var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
		var oFile = document.getElementById("filename").files[0];
		if (ext == "docx" || ext == "DOCX") {

			if (oFile.size > 1 && oFile.size <= 5242880) {
				console.log("File uploaded successfully")

				return true;
			}
			else {
				alert("File size must be less than 5Mb!");
				return false;
			}
		}
		else {
			alert("Upload Docx files only");
			return false;

		}
	}
	function goBack() {
  window.history.back();
}
function validateEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}
</script>

<script src="{% static 'resumeapp/scripts/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/jquery-migrate-3.1.0.min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/custom1.js' %}"></script>
<script src="{% static 'resumeapp/scripts/jquery.superfish.js' %}"></script>
<script src="{% static 'resumeapp/scripts/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/jquery.themepunch.showbizpro.min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/chosen.jquery.min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/waypoints.min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/jquery.counterup.min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/jquery.jpanelmenu.js' %}"></script>
<script src="{% static 'resumeapp/scripts/stacktable.js' %}"></script>
<script src="{% static 'resumeapp/scripts/slick.min.js' %}"></script>
<script src="{% static 'resumeapp/scripts/headroom.min.js' %}"></script>


</body>
</html>