<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

<!--<form action="//" method="post" onsubmit="return Checkfiles();" >-->
<form name="jobsearch" method="get" action="{% url 'resumeapp:JobList' %}">{% csrf_token %}

     <h1 align="center">Welcome to Job Portal</h1>
    <br>

    <br>
    <br>
<table align="center">
    <tr>
        <td>
         <label for="jobcategory">Job Category:</label>

            <select name="jobcategory" id="jobcategory">

                    <option value="Python/Django Developer">Python/Django Developer</option>
                    <option value="Python Developer">Python Developer</option>
                    <option value="SDET">SDET</option>
                    <option value="Software Quality Assurance Engineer">QA</option>
                    <option value="Java Developer">Java</option>
                    <option value="Data Science">Data Science</option>

            </select>
        </td>

        <td colspan=4 with="80%"><hr></td>
        <td colspan=4 with="80%"><hr></td>
        <td colspan=4 with="80%"><hr></td>
        <td colspan=4 with="80%"><hr></td>
        <td colspan=4 with="80%"><hr></td>
        <td>
         <label for="joblocation">Job Location</label>

            <select name="joblocation" id="joblocation">
                <option value="San Francisco,CA">San Francisco,CA</option>
                <option value="newyork">NewYork</option>
                <option value="Atlanta, GA">Chicago</option>
                <option value="Franklin, TN">Franklin, TN</option>
                <option value="Seattle, WA">Seattle, WA</option>
                <option value="New York">New York</option>
            </select>
        </td>
        <td colspan=4 with="80%"><hr></td>
        <td colspan=4 with="80%"><hr></td>
        <td colspan=4 with="80%"><hr></td>
        <td colspan=4 with="80%"><hr></td>
        <td colspan=4 with="80%"><hr></td>
        <td colspan=4 with="80%"><hr></td>
        <td><button class="w3-btn w3-blue">Search</button></td>
    </tr>
</table></form>
</body>
</html>