{% extends 'resumeapp/Base.html' %}

<title>Reset Password Form</title>

{% block content %}

<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


/* The popup form - hidden by default */
.form-popup {
  position: fixed;
  vertical-align:middle;
  right: 750px;
  border: 3px solid #f1f1f1;
  z-index: 90;
}

/* Add styles to the form container */
.form-container {
  position :center;
  max-width: 500px;
  padding: 40px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=email], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=email]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #8B008B;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #000000;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>


<body>
<br>
<br>
		<div  class= "form-popup" >
		<form action="{% url 'resumeapp:Password_Reset' %}" class="form-container" method="post" enctype="multipart/form-data">
			{% csrf_token %}
            <h2> Reset Password </h2>
			<br>

			<div class="w3-container">

                {% for message in messages %}
                    {% if "Wrong_Password" in message.extra_tags %}

                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    {% endif %}
                {% endfor %}

            </div>

            <div class="w3-container">

                {% for message in messages %}
                    {% if "Not_Register" in message.extra_tags %}

                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    {% endif %}
                {% endfor %}

            </div>

             <div class="w3-container">

                {% for message in messages %}
                    {% if "login" in message.extra_tags %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <a href="{% url 'resumeapp:Homepage' %}" class="alert-link">
                         Click here to Login</a>
                    </div>

                    {% endif %}
                {% endfor %}

             </div>

            <br>
            <br>

            <div>
            <label for="email" align="left"><b>Email</b></label>
            <input type="email" placeholder="Email" id="email" name="email" maxlength="50" value="" required ><br>

            <label for="password1" align="left"><b>New Password</b></label>
            <input type="password" placeholder="Password" id="pass1" maxlength="12" name="pass1" value="" required><br>

            <label for="password" align="left"><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm password"  name="pass2" maxlength="12" id="pass2" required value="">
            <br>
            </div>

            <button type="submit" class="btn" name="action" >Submit</button>

		</form>
	    </div>

{% endblock %}
</body>
