{% extends 'resumeapp/Base.html' %}
{% load staticfiles %}
{% block content %}
{% load static%}
<header class="sticky-header">
<div class="container">
	<div class="sixteen columns">

		<!-- Logo -->
		<div id="logo">
			<h1><a href="{% url 'resumeapp:Homepage' %}"><img src="{% static 'resumeapp/images/logo.png' %}" alt="Work Scout" /></a></h1>
		</div>

	</div>
</div>
</header>
<div class="clearfix"></div>


<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>My Account</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Reset Password</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="my-account">


			<!-- Login -->
			<div class="tab-content"  >
				<form class="login" action="{% url 'resumeapp:Password_Reset' %}"  method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<!----------------------------------------------------------------->
                   
			<p class="form-row form-row-wide">

                {% for message in messages %}
                    {% if "Wrong_Password" in message.extra_tags %}

                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    {% endif %}
                {% endfor %}

            </p>

            <p class="form-row form-row-wide">

                {% for message in messages %}
                    {% if "Not_Register" in message.extra_tags %}

                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>

                    {% endif %}
                {% endfor %}

            </p>

             <p class="form-row form-row-wide">

                {% for message in messages %}
                    {% if "login" in message.extra_tags %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <a href="{% url 'resumeapp:User_Login' %}" class="alert-link">
                         Click here to Login</a>
                    </div>

                    {% endif %}
                {% endfor %}

             </p>
                    
					<!----------------------------------------------------------------->
					<p class="form-row form-row-wide">
						<label for="email">
							Username:
							<i class="ln ln-icon-Male"></i>
							<input class="input-text"  type="email" placeholder="Email" id="email" name="email" value="" required  />
						</label>
					</p>

					<p class="form-row form-row-wide">
						<label for="pass1">
							New Password:
							<i class="ln ln-icon-Lock-2"></i>
							<input class="input-text"  type="password" placeholder="Password" id="pass1" name="pass1" value="" required />
						</label>
					</p>


					<p class="form-row form-row-wide">
						<label for="password">
							Confirm Password:
							<i class="ln ln-icon-Lock-2"></i>
							<input class="input-text"  type="password" placeholder="Confirm password"  name="pass2" id="pass2" required value="" />
						</label>
					</p>

					<p class="form-row">
						<input type="submit" class="button border fw margin-top-10" value="Submit" />
					</p>


					</form>

			</div>

	</div>
</div>



<!-- Footer
================================================== -->
<div class="margin-top-30"></div>
{% endblock %}